{% extends "structural/dashboard_base.html" %}

{% block title %}Create an organization{% endblock %}

{% block extraheader %}{% include "structural/header/tables.html" %}{% endblock %}

{% from "structural/macros.html" import render_inputfield %}

{% block content %}
<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi bi-plus-square-fill me-2"></i>{{ self.title() }}</h2>
  
  <form class="row g-3" method="POST" action="{{ url_for('organization.create') }}">
    {{ form.csrf_token }}
  
    <div class="col-12 col-md-9">
      {{ render_inputfield(form.fullname, 'building') }}
    </div>
    
    <div class="col-12 col-md-3">
      {{ render_inputfield(form.shortname) }}
    </div>
  
    <div class="col-12 d-grid">
      <button type="submit" class="btn btn-primary">{{ self.title() }}</button>
    </div>
  
  </form>
  
</div>

{% include 'organization/shortlist.html' %}

{% endblock %}
