{% extends "base.html" %}

{% block title %}Organizations list{% endblock %}

{% block content %}

<div class="column is-10 is-offset-1">
    <h3 class="title">{{ self.title() }}</h3>
    <div class="box">
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
            <div class="notification is-{{ category }}" role="alert"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% if organizations %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Short Name</th>
                    <th>Full Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            
            {% for o in organizations %}
                <tr>
                    <td class="is-vcentered">{{ o.shortname }}</td>
                    <td class="is-vcentered">{{ o.fullname }}</td>
                    <td class="is-vcentered">
                        <div class="buttons">
                            <a class="button is-light" href="{{ url_for('organization.associate', uid=o.id) }}" title="Associate domain names to this organization">
                                <span class="icon is-small">
                                    <i class="fas fa-list"></i>
                                </span>
                            </a>
                            <a class="button is-light" href="{{ url_for('organization.edit', uid=o.id) }}" title="Edit this organization">
                                <span class="icon is-small">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                            <button class="button is-light" onclick="set_and_submit({{ o.id }})" title="Delete this organization">
                                <span class="icon is-small">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No organization has been found. Create one from <a href="{{ url_for('organization.create') }}">here</a>.</p>
        {% endif %}
    </div>
</div>


<form style="display: none;" id="delete-form" method="POST" action="{{ url_for('organization.delete') }}">
    {{ form.csrf_token }}
    {{ form.uid }}
</form>

{% endblock %}
