{% extends "structural/dashboard_base.html" %}

{% block title %}Organizations list{% endblock %}

{% block extraheader %}
{% include "structural/header/tables.html" %}
<script src="{{ url_for('static', filename='/js/common.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi bi-link-45deg me-2"></i>{{ self.title() }}</h2>
  
  {% if organizations %}
  <table id="organization-list" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Short Name</th>
        <th scope="col">Full Name</th>
        <th scope="col non-sortable">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for o in organizations %}
      <tr>
        <td>{{ o.shortname }}</td>
        <td>{{ o.fullname }}</td>
        <td class="text-end">
          <div class="btn-group">
            <a class="btn btn-outline-secondary" href="{{ url_for('organization.associate', uid=o.id) }}" title="Associate domain names to this organization">
              <i class="bi bi-card-heading"></i>
            </a>
            <a class="btn btn-outline-secondary" href="{{ url_for('organization.edit', uid=o.id) }}" title="Edit this organization">
              <i class="bi bi-pencil-square"></i>
            </a>
            <button type="button" data-organization-id="{{ o.id }}" class="btn btn-outline-secondary btn-delete" title="Delete this organization"><i class="bi bi-trash3"></i></button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="fs-5">No organization has been found. Create one from <a href="{{ url_for('organization.create') }}">here</a>.</p>
  {% endif %}
</div>

{% if form %}
<form style="display: none;" id="form-delete" method="POST" action="{{ url_for('organization.delete') }}">
    {{ form.csrf_token }}
    {{ form.uid }}
</form>
{% endif %}

<script>
$(document).ready(function() {
  {% if form %}
  // ~ generate delete button actions
  generateDeleteButtons('#form-delete', '#{{ form.uid.id }}', 'organization-id', '.btn-delete');
  {% endif %}
  
  $('#organization-list').DataTable({
      "paging": false,
      "info": false,
      "ordering": true,
      columnDefs: [{
        orderable: false,
        targets: "non-sortable"
      }]
    });
  
});
</script>

{% endblock %}
