click
dataclasses
dnspython
email-validator
flake8
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
inflect
itsdangerous
Jinja2
MarkupSafe
mccabe
mysqlclient
pkg-resources
pycodestyle
pyflakes
six
SQLAlchemy
SQLAlchemy-Utils
typing-extensions
Unidecode
Werkzeug
WTForms
zipp
