click
dataclasses
dnspython
email-validator
flake8
Flask
flask_mail
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
htmlmin
idna
importlib-metadata
inflect
itsdangerous
Jinja2
MarkupSafe
mccabe
mysqlclient
pkg-resources
pycodestyle
pyflakes
six
SQLAlchemy
SQLAlchemy-Utils
typing-extensions
Unidecode
Werkzeug
WTForms==3.1.*
WTForms-SQLAlchemy
zipp
