{% extends "structural/dashboard_base.html" %}

{% block title %}Edit a domain name{% endblock %}

{% block extraheader %}{% include "structural/header/tables.html" %}{% endblock %}

{% block content %}
<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi-pencil-square me-3"></i>{{ self.title() }}</h2>
  
   <form class="row g-3" method="POST" action="{{ request.path }}">
    {{ form.csrf_token }}

    <div class="col-12">
      <div class="mb-3">
        <label for="{{ form.domain_name.id }}" class="form-label">{{ form.domain_name.label.text }}</label>
        {{ form.domain_name }}
      </div>
    </div>

    <div class="col-12 d-grid gap-2">
      <button type="submit" class="btn btn-primary">{{ self.title() }}</button>
    </div>

  </form>
</div>

{% include 'domain/shortlist.html' %}

{% endblock %}
