{% if domains %}
<div class="container px-4 py-3">
  <h3 class="pb-2 border-bottom"><i class="bi-list-ul me-2"></i>Domain names summary</h3>

  <div class="row">
    <div class="col-12">
      <table id="domain-shortlist" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Domain name</th>
          </tr>
        </thead>
        <tbody>
        {% for d in domains %}
          <tr>
            <td>{{ d.domain_name }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% from "structural/macros.html" import shortlist_datatable %}
{{ shortlist_datatable('#domain-shortlist') }}

{% endif %}
