{% extends "structural/dashboard_base.html" %}

{% block title %}
Manage {% if 'check' in table %}check{% elif 'reply' in table %}reply{% endif %} attributes for
{% if 'group' in table %}group {{ obj.groupname }}{% else %}user {{ obj.username }}{% endif %}
{% endblock %}

{% block extraheader %}
{% include "structural/header/tables.html" %}
<script src="{{ url_for('static', filename='/js/common.js') }}"></script>
{% endblock %}

{% from "structural/macros.html" import render_inputfield, manage_datatable %}

{% block content %}

<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi bi-gear-fill me-2"></i>{{ self.title() }}</h2>
  
  {% if records %}
  <div class="row">
    <div class="col-12">
      <table id="record-list" class="table table-striped">
        <thead>
          <tr class="align-middle">
            <tr>
              <th scope="col">Attribute</th>
              <th scope="col"><abbr title="Operator">Op</abbr></th>
              <th scope="col">Value</th>
              <th scope="col" class="text-end non-sortable">Actions</th>
          </tr>
        </thead>
        
        <tbody>
        {% for record in records %}
          <tr id="record-{{ record.id }}" class="align-middle">
            <td scope="row">{{ record.attribute }}</td>
            <td>{{ record.op }}</td>
            <td>{{ record.value }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button type="button"{% if not immutable %} data-record-id="{{ record.id }}"{% endif %}
                  class="btn btn-outline-secondary btn-edit"{% if immutable %} disabled{% endif %}>
                  <i class="bi bi-pencil-square"></i></button>
                <button type="button"{% if not immutable %} data-record-id="{{ record.id }}"{% endif %}
                  class="btn btn-outline-secondary disabled btn-delete"{% if immutable %} disabled{% endif %}>
                  <i class="bi bi-trash3"></i></button>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <p class="fs-5">No attributes have been found.</p>
  {% endif %}
</div>

{% if not immutable %}
<div class="container px-4 py-3">
  <h4 class="pb-3 border-bottom"><span id="title-add-or-edit">Add</span> {% if 'check' in table %}check{% elif 'reply' in table %}reply{% endif %} attributes for
        {% if 'group' in table %}group {{ obj.groupname }}{% else %}user {{ obj.username }}{% endif %}</h4>
  
  <form method="POST" action="{{ request.path }}">
    {{ form.csrf_token }}
    {{ form.attribute_id }}
    
    <div class="row mb-3">
      <div class="col-12 col-md-6">
        {{ render_inputfield(form.attribute) }}
        <datalist id="{{ form.attribute.render_kw['list'] }}">
          {% for attr in attrs %}<option value="{{ attr }}"></option>{% endfor %}
        </datalist>
      </div>

      <div class="col-12 col-md-2">
        {{ render_inputfield(form.op) }}
        <datalist id="{{ form.op.render_kw['list'] }}">
          {% for op in ops %}<option value="{{ op }}"></option>{% endfor %}
        </datalist>
      </div>

      <div class="col-12 col-md-4">
        {{ render_inputfield(form.value) }}
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-12 col-md-9 d-grid mb-3">
        <button type="submit" id="btn-add-or-edit" class="btn btn-primary"><span id="label-add-or-edit">Add</span></button>
      </div>
      <div class="col-12 col-md-3 d-grid mb-3">
        <button type="button" id="btn-clear" class="btn btn-danger">Clear</button>
      </div>
    </div>
  </form>
</div><!-- /.container px-4 py-3 -->
{% endif %}

<script>
    
$(document).ready(function() {
  {% if not immutable %}
    
  var addOrEditSelectors = ["#label-add-or-edit", "#title-add-or-edit"],
      attributeIdElement = $('#{{ form.attribute_id.id }}'),
      attributeElement = $('#{{ form.attribute.id }}'),
      opElement = $('#{{ form.op.id }}'),
      valueElement = $('#{{ form.value.id }}'),
      formElements = [ attributeIdElement, attributeElement, opElement, valueElement ];

  var oldSelectedClass = "",
      selectedTrElement = null;
  
  function isTableRowSelected() {
    return Boolean(oldSelectedClass) && selectedTrElement != null;
  }

  //~ clear button
  $('#btn-clear').click(function(){
    $.each(formElements, function(i, elem) {
      elem.val("");
    });
    
    $.each(addOrEditSelectors, function(i, selector) {
      $(selector).text("Add");  
    });
    
    if (isTableRowSelected()) {
      selectedTrElement.attr("class", oldSelectedClass);
      oldSelectedClass = "";
      selectedTrElement = null;
    }
    
  });
  
  //~ btn-edit
  $('.btn-edit').each(function(i, elem) {
    $(elem).click(function() {
      var recordId = $(elem).data('record-id'),
          thisRecordElement = $("#record-" + recordId),
          thisAttributeText = thisRecordElement.find("td").eq(0).text(),
          thisOpText = thisRecordElement.find("td").eq(1).text(),
          thisValueText = thisRecordElement.find("td").eq(2).text();
          
      attributeIdElement.val(recordId);
      attributeElement.val(thisAttributeText);
      opElement.val(thisOpText);
      valueElement.val(thisValueText);
      
      $.each(addOrEditSelectors, function(i, selector) {
        $(selector).text("Edit");
      });
      
      if (isTableRowSelected()) {
        selectedTrElement.attr("class", oldSelectedClass);
      }

      selectedTrElement = $(this).closest("tr");
      oldSelectedClass = selectedTrElement.attr("class");
      selectedTrElement.addClass("bg-warning bg-gradient");

    });
  });
  
  {% endif %}
  
  // ~ setup a simple datatable
  {{ manage_datatable("#record-list") }}

});

</script>


{% endblock %}
