{% extends "base.html" %}

{% block title %}Manage groups{% endblock %}

{% block content %}

{% from "macros.html" import render_inputfield %}

<div class="column is-12">
    <h3 class="title">{{ self.title() }}</h3>
    
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
            <div class="notification is-{{ category }}" role="alert"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% if groups %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>    
                    <th>Group name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            
            {% for group in groups %}
                <tr id="element-{{ group.id }}">
                    <td class="is-vcentered">{{ group.groupname }}</td>
                    <td class="is-vcentered">
                        <div class="buttons">
                            <button class="button is-light edit-button" data-attrid="{{ group.id }}">
                                <span class="icon is-small">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </button>
                            <button class="button is-light delete-button" data-uid="{{ group.id }}">
                                <span class="icon is-small">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No groups have been found.</p>
        {% endif %}
    </div>
    
    {% from "macros.html" import render_inputfield %}
    <h4 class="title is-4"><span id="add-or-edit-label">Add</span> a group</h4>
    <div class="box">
        <form method="POST" action="{{ url_for('group.manage') }}">
            {{ form.csrf_token }}
            {{ form.group_id }}
            {{ render_inputfield(form.groupname) }}
            
            <div class="columns">
                <div class="column is-11">
                    <button id="add-or-edit-button" class="button is-block is-info is-fullwidth">Add</button>
                </div>
                <div class="column is-1">
                    <button id="clear-button" class="button is-light is-danger" title="Clear">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% if uidform %}
<form style="display: none;" id="delete-form" method="POST" action="{{ url_for('group.delete') }}">
    {{ uidform.csrf_token }}
    {{ uidform.uid }}
</form>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function(){
    var i, group_id_obj = document.getElementById('{{ form.group_id.id }}'),
        group_obj = document.getElementById('{{ form.groupname.id }}'),
        addOrEditButton = document.getElementById('add-or-edit-button'),
        addOrEditLabel = document.getElementById('add-or-edit-label');
    
	var editButtons = document.getElementsByClassName('edit-button');
	for (i = 0; i < editButtons.length; i++) {
		editButtons[i].addEventListener('click', function(e){
            var attr_id = this.getAttribute('data-attrid'),            
                tr_obj = document.getElementById('element-' + attr_id),
                td_objs = tr_obj.getElementsByTagName('td');
            
            group_id_obj.value = attr_id;
            group_obj.value = td_objs[0].childNodes[0].nodeValue;
            
            addOrEditButton.childNodes[0].nodeValue = addOrEditLabel.childNodes[0].nodeValue = "Edit";
		});
	}
    
    var clearButton = document.getElementById('clear-button');
    clearButton.addEventListener('click', function(e){
        group_id_obj.value = "";
        group_obj.value = "";
        addOrEditButton.childNodes[0].nodeValue = addOrEditLabel.childNodes[0].nodeValue = "Add";
    });
    
    var form_obj = document.getElementById('delete-form');
    var uid_obj = document.getElementById('{{ uidform.uid.id }}');
    
    var deleteButtons = document.getElementsByClassName('delete-button');
    for (i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener('click', function(e){
            uid_obj.value = this.getAttribute('data-uid');
            var should_delete = confirm('Are you sure?');
            if (should_delete) {
                form_obj.submit();
            }
        });
    }
});
</script>


{% endblock %}
