{% extends "structural/dashboard_base.html" %}

{% block title %}Contact persons list{% endblock %}

{% block extraheader %}{% include "structural/header/tables.html" %}{% endblock %}

{% block content %}

<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi-list-ul me-3"></i>{{ self.title() }}</h2>
  
  {% if contact_persons %}
  <table id="contact-person-list" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Organization</th>
        <th scope="col">Contact person for</th>
        {% if current_user.is_admin %}<th scope="col" class="text-end non-sortable">Actions</th>{% endif %}
      </tr>
    </thead>
    
    <tbody>
    {% for contact_person in contact_persons %}
      <tr>
        <td>{{ contact_person.fullname() }}</td>
        <td>{{ contact_person.username }}</td>
        <td>{{ contact_person.organization.shortname }}</td>
        <td>
            {% for o in contact_person.organizations %}
              {{ o.name() }}<br>
            {% endfor %}
        </td>
        
        {% if current_user.is_admin %}
        <td class="text-end">
          <a class="btn btn-outline-secondary" href="{{ url_for('contact_person.associate_organizations', uid=contact_person.id) }}" title="Contact person details"><i class="bi bi-card-heading"></i></a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% else %}
  <p class="fs-5">There are no contact persons.</p>
  {% endif %}

</div>

<script>
  $(document).ready(function() {
    $('#contact-person-list').DataTable({
      "paging": false,
      "info": false,
      "ordering": true,
      columnDefs: [{
        orderable: false,
        targets: "non-sortable"
      }]
    });
  });
</script>


{% endblock %}
