{% from "macros.html" import render_aside_field %}

{% if current_user.is_authenticated %}
<aside class="menu is-hidden-mobile">

    

    {% if request.path.startswith("/admin") %}
        {% if current_user.is_admin_or_contact_person() %}
    
    <p class="menu-label">Users</p>
    <ul class="menu-list">
        <li>
            <ul>
                {{ render_aside_field('Create an user', url_for('user.create')) }}
                {{ render_aside_field('Manage users', url_for('user.list')) }}
                {{ render_aside_field('Search by username', url_for('user.search')) }}
            </ul>
        </li>
    </ul>
        
        {% endif %}
        
        {% if current_user.is_admin %}
    <p class="menu-label">Groups</p>
    <ul class="menu-list">
        <li>
            <ul>{{ render_aside_field('Manage groups', url_for('group.manage')) }}</ul>
        </li>
    </ul>
    
    <p class="menu-label">Organizations</p>
    <ul class="menu-list">
        <li>
            <ul>
                {{ render_aside_field('Create an organization', url_for('organization.create')) }}
                {{ render_aside_field('Manage organizations', url_for('organization.list')) }}
            </ul>
        </li>
    </ul>
    
    <p class="menu-label">Contact Persons</p>
    <ul class="menu-list">
        <li>
            <ul>
                {{ render_aside_field('Manage contact persons', url_for('contact_person.list')) }}
            </ul>
        </li>
    </ul>
    
    <p class="menu-label">Domain names</p>
    <ul class="menu-list">
        <li>
            <ul>
                {{ render_aside_field('Create a domain name', url_for('domain.create')) }}
                {{ render_aside_field('Manage domain names', url_for('domain.list')) }}
            </ul>
        </li>
    </ul>
    
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li>
            <ul>
                {{ render_aside_field('Global settings', url_for('settings.admin')) }}
                <li><a>Events log</a></li>
            </ul>
        </li>
    </ul>
        {% endif %}
    {% elif request.path.startswith("/user") %}
    
    <p class="menu-label">User</p>
    <ul class="menu-list">
        <li>
            <ul>
                {{ render_aside_field('Details', url_for('user.user_details')) }}
                {{ render_aside_field('Change Password', url_for('user.change_password')) }}
            </ul>
        </li>
    </ul>
    {% endif %}

</aside>
{% endif %}
