{% macro render_inputfield(field, icon="") %}
<div class="field">
    <label class="label" for="{{ field.id }}">{{ field.label.text }}</label>
    <div class="control{% if icon != "" %} has-icons-left{% endif %}">
        {{ field }}
        {% if icon != "" %}
        <span class="icon is-small is-left">
            <i class="fas fa-{{ icon }}"></i>
        </span>
        {% endif %}
    </div>
    {% if field.description %}
    <p class="help">{{ field.description }}</p>
    {% endif %}
</div>
{% endmacro %}

{% macro render_checkbox(field) %}
<div class="field">
    <div class="control">
        <label for="{{ field.id }}" class="checkbox">
            {{ field }}
            {{ field.label.text }}
        </label>
    </div>
</div>
{% endmacro %}

{% macro ucfirst(text) %}
    {{ text[0]|upper }}{{ text[1:] }}
{% endmacro %}


{% macro render_nav_button(label, endpoint, class="info") %}
    <a class="button is-{{ class }} is-light" href="{{ endpoint }}"><strong>{{ label }}</strong></a>
{% endmacro %}

{% macro render_nav_field(label, endpoint) %}
    <a class="navbar-item{% if request.path == endpoint %} is-active{% endif %}" href="{{ endpoint }}">{{ label }}</a>
{% endmacro %}

{% macro render_aside_field(label, endpoint) %}
    <li><a{% if request.path == endpoint %} class="is-active"{% endif %} href="{{ endpoint }}">{{ label }}</a></li>
{% endmacro %}
