    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="{{ url_for('main.index') }}">{{ conf.get('application.name') }}</a>
                <div class="navbar-burger burger" data-target="navMenu">
                  
                </div>
            </div>
            
            {% from "macros.html" import render_nav_field, render_nav_button %}
            
            <div id="navMenu" class="navbar-menu">
                {% if current_user.is_authenticated %}
                    
                <div class="navbar-start">
                    {% if current_user.is_admin_or_contact_person() %}
                    
                        {% if request.path.startswith("/user") %}
                            {{ render_nav_field("Dashboard", url_for('main.regular_dashboard')) }}
                        {% else %}
                            {{ render_nav_field("Dashboard", url_for('main.privileged_dashboard')) }}
                        {% endif %}

                        {% if request.path.startswith("/admin") %}
                            {{ render_nav_field("Users", url_for('user.list')) }}
                            {{ render_nav_field("Contact Persons", url_for('contact_person.list')) }}
                            {% if current_user.is_admin %}
                                {{ render_nav_field("Organizations", url_for('organization.list')) }}
                            {% endif %}
                        {% endif %}
                    
                    
                    {% else %}
                        {{ render_nav_field("Dashboard", url_for('main.regular_dashboard')) }}
                    {% endif %}
                </div>
                {% endif %}
                
                {% if request.path != url_for('auth.login') %}
                
                
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if current_user.is_authenticated %}
                                {% if current_user.is_admin_or_contact_person() %}
                                    {% if request.path.startswith("/admin") %}
                                        {{ render_nav_button("Switch to regular user view", url_for('main.regular_dashboard')) }}
                                    {% elif request.path.startswith("/user") %}
                                        {{ render_nav_button("Switch to admin view", url_for('main.privileged_dashboard')) }}
                                    {% endif %}
                                
                                {% else %}
                                    {% if not request.path.endswith("/dashboard") %}
                                        {{ render_nav_button("Go to dashboard", url_for('main.regular_dashboard')) }}
                                    {% endif %}
                                {% endif %}
                            
                                {{ render_nav_button("Log out", url_for('auth.logout'), "danger") }}
                            {% else %}
                                {{ render_nav_button("Log in", url_for('auth.login'), "success") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                
            </div>
        </div>
    </nav>
