{% extends "structural/dashboard_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container px-4 py-5">
  <h2 class="pb-3 border-bottom"><i class="bi-speedometer2 me-2"></i>Admin view</h2>
  
  <h3 class="pb-2 border-bottom"><i class="bi bi-123 me-2"></i>Quick statistics</h3>
  <div class="row">
    
    <div class="col-12 col-md-4 p-1">
      <div class="card">
        <div class="card-body text-center">
          <p class="fs-3">
            <span class="d-block fs-4 fw-bold"><i class="bi bi-person-fill me-2"></i> Users</span>
            <span class="d-block fs-3 fw-bolder">{{ users|length }}</span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-4 p-1">
      <div class="card">
        <div class="card-body text-center">
          <p class="fs-3">
            <span class="d-block fs-4 fw-bold"><i class="bi bi-building me-2"></i> Organizations</span>
            <span class="d-block fs-3 fw-bolder">{{ counters.organization }}</span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-4 p-1">
      <div class="card">
        <div class="card-body text-center">
          <p class="fs-3">
            <span class="d-block fs-4 fw-bold"><i class="bi bi-person-lines-fill me-2"></i> Contact Persons</span>
            <span class="d-block fs-3 fw-bolder">{{ counters.contact_person }}</span>
          </p>
        </div>
      </div>
    </div>

  </div>
  
  <div class="row">
    
    <div class="col-12 col-md-4 p-1">
      <div class="card">
        <div class="card-body text-center">
          <p class="fs-3">
            <span class="d-block fs-4 fw-bold"><i class="bi bi-hourglass-split me-2"></i> Expiring passwords</span>
            <span class="d-block fs-3 fw-bolder">{{ counters.expiring }}</span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-4 p-1">
      <div class="card">
        <div class="card-body text-center">
          <p class="fs-3">
            <span class="d-block fs-4 fw-bold"><i class="bi bi-hourglass-bottom me-2"></i> Expired passwords</span>
            <span class="d-block fs-3 fw-bolder">{{ counters.expired }}</span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-4 p-1">
      <div class="card">
        <div class="card-body text-center">
          <p class="fs-3">
            <span class="d-block fs-4 fw-bold"><i class="bi bi-person-x-fill me-2"></i> Account disabled</span>
            <span class="d-block fs-3 fw-bolder">{{ counters.disabled }}</span>
          </p>
        </div>
      </div>
    </div>
    
  </div>

</div>

{% endblock %}
