{% extends "structural/dashboard_base.html" %}

{% block title %}Dashboard{% endblock %}

{% from "structural/macros.html" import info_card %}

{% block content %}
<div class="container px-4 py-5">
  <h2 class="pb-3 border-bottom"><i class="bi-card-list me-2"></i>Key account details 
    <a href="{{ url_for('user.user_details') }}" title="More...">&hellip;</a></h2>

  <div class="d-flex flex-column justify-content-center flex-lg-row justify-content-lg-around gap-2">

      {{ info_card("person-fill", "Your username", current_user.username) }}
      {{ info_card("envelope", "Your email", current_user.email) }}
      {{ info_card("building", "Your organization", current_user.organization.fullname) }}

      {# TODO use info_card macro #}
      <div class="flex-row d-flex flex-fill justify-content-center align-items-center card p-2">
        <div class="flex-row d-flex px-1">
          <i class="bi bi-info-circle-fill icon-2em me-3 align-self-center"></i>
          <div class="align-self-center py-1">
            <h4 class="fw-bold mb-0">Account status</h4>
            <p class="mb-0">
            {% if current_user.in_disabled_group() %}
              This account is disabled<br>
            {% else %}
              {% if current_user.disable_on %}
              This account autodisables on <strong>{{ current_user.disable_on }}</strong>
              {% else %}
              This account does not autodisable
              {% endif %}<br>
              {% if current_user.is_expired() %}
              Your password <strong>has expired</strong>
              {% else %}
                {% if current_user.expires_on %}
                Your password expires on <strong>{{ current_user.expires_on }}</strong><br>
                Your password is <strong>{% if not current_user.self_renew %}not {% endif %}self-renewable</strong>
                {% else %}
                Your password does not expire
                {% endif %}
              {% endif %}
            {% endif %}
            </p>
          </div>
        </div>  
      </div>

  </div>

</div>

{% endblock %}
