{% extends "structural/centered_base.html" %}

{% block title %}Signup Finalization{% endblock %}

{% block content %}

{% if not form %}
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">{{ self.title() }}</p>
        <p class="subtitle">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        </p>
    </div>
</section>
{% else %}

<div class="column is-6 is-offset-3">
    <h3 class="title">{{ self.title() }}</h3>
    <div class="box">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
        <div class="notification is-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% from "macros.html" import render_inputfield, render_checkbox %}
		<form method="POST" action="{{ request.path }}">
            {{ form.csrf_token }}
			<div class="field">
                <div class="field-body">
                    {{ render_inputfield(form.firstname) }}
                    {{ render_inputfield(form.lastname) }}
                </div>
            </div>
            <div class="field">
                <div class="field-body">
                    {{ render_inputfield(form.password1, 'lock') }}
                    {{ render_inputfield(form.password2, 'lock') }}
                </div>
            </div>
            {% if form.organization %}
            <div class="field">
                {{ render_checkbox(form.remember) }}
            </div>
            {% endif %}
            
            <button class="button is-block is-info is-fullwidth">Signup</button>
		</form>
	</div>
</div>

{% endif %}


{% endblock %}
