{% extends "base.html" %}
{% from "macros.html" import render_inputfield %}

{% block title %}Change password{% endblock %}

{% block content %}

<div class="column is-12">
    <h3 class="title">{{ self.title() }}</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="box">
        {% for category, message in messages %}
        <div class="notification is-{{ category }}" role="alert"> {{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

    <div class="box">
        <form method="POST" action="{{ url_for('user.change_password') }}">
            {{ form.csrf_token }}
            <div class="field">
                {{ render_inputfield(form.current_password, 'lock') }}
                
                <div class="field-body">
                    {{ render_inputfield(form.password1, 'lock') }}
                    {{ render_inputfield(form.password2, 'lock') }}
                </div>
            </div>

            <button class="button is-block is-info is-fullwidth">Change Password</button>
        </form>
    </div>
</div>

{% endblock %}
