{% extends "structural/dashboard_base.html" %}

{% block title %}Create an user{% endblock %}

{% block extraheader %}
<script src="{{ url_for('static', filename='/js/common.js') }}"></script>
{% endblock %}

{% from "structural/macros.html" import render_inputfield, render_checkbox %}

{% block content %}

<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi bi-person-plus-fill me-2"></i>{{ self.title() }}</h2>

  <form class="row" method="POST" action="{{ url_for('user.create') }}">
    {{ form.csrf_token }}
    
    <div class="col-12 col-md-6 my-1">{{ render_inputfield(form.firstname) }}</div>
    <div class="col-12 col-md-6 my-1">{{ render_inputfield(form.lastname) }}</div>
    
    <div class="col-12 col-md-6 my-1">{{ render_inputfield(form.email, 'envelope-open-fill') }}</div>
    
    <div class="col-12 col-md-6 my-1">
      <label class="form-label" for="{{ form.organization.id }}">{{ form.organization.label.text }}</label>
      {{ form.organization(class_="form-select") }}
    </div>
    
    <hr class="my-3">
    
    <div class="col-12 col-md-6 my-1">
      {{ render_inputfield(form.username, 'person-fill') }}
    </div>
    
    <div class="col-12 col-md-6 my-1">
      <label class="form-label" for="{{ form.registration_method.id }}">{{ form.registration_method.label.text }}</label>
      {{ form.registration_method(class_="form-select") }}
    </div>
    
    <div class="col-12 col-md-6 my-1">
      <label for="{{ form.password1.id }}" class="form-label">{{ form.password1.label.text }}</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
        {{ form.password1 }}
        <button id="btn-random-password" type="button" class="input-group-text" title="Generate random password">
          <i class="bi bi-shuffle"></i>
        </button>
        <button id="btn-show-hide-password" type="button" class="input-group-text" title="Show/Hide">
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>
    </div>
    
    <div class="col-12 col-md-6 my-1">{{ render_inputfield(form.password2, 'lock-fill') }}</div>
    
    <hr class="my-3">
    
    <div class="col-12 mt-1">{{ render_inputfield(form.expires_in) }}</div>
    <div class="col-12">{{ render_checkbox(form.self_renew) }}</div>
    <div class="col-12 mt-1">{{ render_inputfield(form.disable_on) }}</div>
    <div class="col-12">{{ render_checkbox(form.auto_disable) }}</div>
    
    <div class="col-12 d-grid my-1">
      <button type="submit" class="d-grid btn btn-primary">{{ self.title() }}</button>
    </div>
    
  </form>

</div>

<script>

$(document).ready(function(){
  var password1Element = $('#{{ form.password1.id }}'),
      password2Element = $('#{{ form.password2.id }}'),
      autoDisableElement = $('#{{ form.auto_disable.id }}'),
      disableOnElement = $('#{{ form.disable_on.id }}'),
      registrationMethodElement = $('#{{ form.registration_method.id }}'),
      selfRenewElement = $('#{{ form.self_renew.id }}'),
      buttonShowHideSelector = '#btn-show-hide-password',
      buttonRandomSelector = '#btn-random-password';

  function toggleRegistrationMethodElements() {
    var linkViaMail = ($('#{{ form.registration_method.id }} option:selected').val() == 'link_via_mail');
    password1Element.prop("required", !linkViaMail).prop("disabled", linkViaMail).val("");
    password2Element.prop("required", linkViaMail).prop("disabled", linkViaMail).val(""); 
    $(buttonShowHideSelector).prop("disabled", linkViaMail);
    $(buttonRandomSelector).prop("disabled", linkViaMail);
  }

  function toggleAutoDisableElements() {
    var autoDisable = autoDisableElement.prop('checked');
    disableOnElement.prop("required", autoDisable).prop("disabled", !autoDisable);
    if (!autoDisable) {
        disableOnElement.val("");
    } else {
        disableOnElement.val('{{ form.disable_on.data }}');
    }
  }

  registrationMethodElement.change(function(){
    toggleRegistrationMethodElements();
  });

  autoDisableElement.change(function(){
    toggleAutoDisableElements();
  });
  
  //~ init elements
  registrationMethodElement.val('link_via_mail');
  toggleRegistrationMethodElements();
  
  autoDisableElement.prop('checked', true);
  toggleAutoDisableElements();
  
  selfRenewElement.prop('checked', true);
  
  generatePasswordTogglerAndShuffler(
    '#{{ form.password1.id }}',
    '#{{ form.password2.id }}',
    buttonShowHideSelector,
    buttonRandomSelector,
    '{{ url_for("main.random_password") }}'
  );
  
});

</script>

{% endblock %}
