{% extends "base.html" %}

{% block title %}Recover your password{% endblock %}

{% from "macros.html" import render_inputfield %}

{% block content %}
<div class="column is-8 is-offset-2">
    
    <h3 class="title">{{ self.title() }}</h3>
    <div class="box">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
        <div class="notification is-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <form method="POST"
            action="{% if field == 'username' %}{{ url_for('user.forgot_password_username') }}{% else %}{{ url_for('user.forgot_password_email') }}{% endif %}">
            {{ form.csrf_token }}
            {% if field == 'username' %}
                {{ render_inputfield(form.field, 'user') }}
            {% else %}
                {{ render_inputfield(form.field, 'envelope') }}
            {% endif %}
            
            <button class="button is-block is-info is-fullwidth">Recover your password</button>
            
            {% if field == 'username' %}
            <div class="level options">
                <div class="level-left"></div>
                <div class="level-right">
                    <a class="btn btn-link" href="{{ url_for('user.forgot_password_email') }}">Forgot Username?</a>
                </div>
            </div>
            {% endif %}
            
        </form>
    </div>
</div>

{% endblock %}
