{% extends "structural/centered_base.html" %}

{% block title %}Recover your password{% endblock %}

{% block content %}

<main>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <div class="card shadow">
          <div class="card-body px-6">
            <div class="mb-4 text-center">
              <h1 class="mb-1 fw-bold display-7">{{ self.title() }}</h1>
              <p>{{ form.field.description }}</p>
            </div>
            
            <form method="POST" action="{% if field == 'username' %}{{ url_for('user.forgot_password_username') }}{% else %}{{ url_for('user.forgot_password_email') }}{% endif %}">
              {{ form.csrf_token }}
              
              <div class="form-floating mb-3">
                {{ form.field }}
                <label for="{{ form.field.id }}" class="form-label">{{ form.field.label.text }}</label>
              </div>
              
              
              <div class="mb-1 d-grid">
                <button type="submit" class="btn btn-primary">Recover your password</button>
              </div>
            </form>
            
            <div class="row">
                {% if field == 'username' %}
                <div class="col">
                  <a class="btn btn-link" href="{{ url_for('user.forgot_password_email') }}">Forgot Username?</a>
                </div>
                {% endif %}
                <div class="col text-end"><a class="btn btn-link" href="{{ url_for('auth.login') }}">Back to login page</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "structural/toast.html" %}
</main>

{% endblock %}
