{% extends "structural/dashboard_base.html" %}

{% block title %}Users list{% endblock %}

{% block extraheader %}
{% include "structural/header/tables.html" %}
<script src="{{ url_for('static', filename='/js/common.js') }}"></script>
{% endblock %}

{% from "structural/macros.html" import render_inputfield, render_checkbox %}

{% block content %}
<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi bi-search me-2"></i>{{ self.title() }}</h2>

  <div class="d-flex flex-row">
    <div class="px-1">
      <button id="user-filter-toggle" class="btn btn-primary text-nowrap" type="button" data-bs-toggle="collapse"
        data-bs-target="#user-filter" aria-expanded="true" aria-controls="user-filter" title="Toggle search filters">
        <i class="bi bi-filter me-md-2"></i><span class="d-none d-md-inline">Filters</span>
      </button>
    </div>
    
    <div id="user-filter" class="align-self-end collapse show flex-grow-1 px-1">
      <div class="card card-body">
        <form method="POST" action="{{ url_for('user.list') }}">
          {{ search_form.csrf_token }}
          <div class="row mb-3">
            <div class="col-6">
              {{ render_inputfield(search_form.organizations) }}
            </div>
            <div class="col-6">
              <h6 class="title is-6">Other filters</h6>
              {{ render_checkbox(search_form.expired) }}
              {{ render_checkbox(search_form.expiring_soon) }}
              {{ render_checkbox(search_form.disabled) }}
              {{ render_checkbox(search_form.contact_persons) }}
            </div>
          </div>
          
          <div class="row">
            <div class="col d-grid">
              <button class="btn btn-primary btn-sm"><i class="bi bi-filter"></i> Filter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi bi-search me-2"></i> Search results</h2>
  {% if users.items %}
  <table class="table table-striped align-middle">
    <thead>
      <tr>    
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Organization</th>
        <th scope="col">Status</th>
        <th scope="col" class="non-sortable">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users.items %}
      <tr>
        <td>{{ u.fullname() }}</td>
        <td>{{ u.username }}</td>
        <td>{% if u.organization %}{{ u.organization.shortname }}{% else %}-{% endif %}</td>
        <td>
        {% if u.in_disabled_group() %}
          The account is disabled<br>
        {% else %}
          {% if u.disable_on %}Autodisables on {{ u.disable_on }}{% else %}Account does not autodisable{% endif %}<br>
        {% endif %}
        
        {% if u.is_expired() %}
          The password has expired
        {% else %}
          {% if u.expires_on %}
            Password expires on {{ u.expires_on }}<br>Password is {% if not u.self_renew %}not {% endif %}self-renewable
          {% else %}
            Password does not expire
          {% endif %}
        {% endif %}
        </td>
        <td class="text-end">
          <div class="btn-group">
            {% if not u.is_admin %}
            <a class="btn btn-outline-secondary{% if u.is_contact_person() %} position-relative{% endif %}"
              href="{{ url_for('contact_person.associate_organizations', uid=u.id) }}"
              title="{% if u.is_contact_person() %}{{ u.username }} is a contact person for {{ u.organizations|length }} organization(s){% else %}Contact person details{% endif %}">
              <i class="bi bi-person-badge"></i>
              {% if u.is_contact_person() %}
              <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-secondary">
                {{ u.organizations|length }}
              </span>
              <span class="visually-hidden">{{ u.username }} is a contact person for {{ u.organizations|length }} organization(s)</span>
              {% endif %}
            </a>
            
            {% endif %}
            <a class="btn btn-outline-secondary" href="{{ url_for('user.details', uid=u.id) }}" title="User details">
              <i class="bi bi-info-square-fill"></i>
            </a>
            <button type="button" data-user-id="{{ u.id }}" class="btn btn-outline-secondary btn-delete"><i class="bi bi-trash3"></i></button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="fs-5">Selected filters did not produce any result.</p>
  {% endif %}

  {% if users.pages > 1 %}
  <nav aria-label="User pages">
    <ul class="pagination">
      <li class="page-item{% if not users.has_prev %} disabled{% endif %}">
        <a class="page-link" href="{% if users.has_prev %}{{ url_for('user.list', pagenum=users.prev_num) }}{% else %}#{% endif %}"
          {% if not users.has_prev %}tabindex="-1" {% endif %}aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% if users.pages > 2 %}
        {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          <li class="page-item">
            <a class="page-link{% if users.page == page_num %} active" aria-current="page{% endif %}"
              href="{{ url_for('user.list', pagenum=page_num) }}" aria-label="Goto page {{ page_num }}">{{ page_num }}
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</div>
    
{% if uid_form %}
<form class="invisible" id="form-delete" method="POST" action="{{ url_for('user.delete') }}">
    {{ uid_form.csrf_token }}
    {{ uid_form.uid }}
</form>
{% endif %}


{% if users.items or uid_form %}
<script>
$(document).ready(function(){
  
  {% if users.items %}
  
  $('#user-filter').removeClass('show');
  $('#user-filter-toggle').addClass('collapsed').attr('aria-expanded', 'false');
  {% endif %}
  
  {% if uid_form %}
  // ~ generate delete button actions
  generateDeleteButtons('#form-delete', '#{{ uid_form.uid.id }}', 'user-id', '.btn-delete');
  {% endif %}
  
});
</script>
{% endif %}

{% endblock %}
