{% extends "structural/dashboard_base.html" %}

{% block title %}Search user by username{% endblock %}

{% block extraheader %}
{% include "structural/header/tables.html" %}
<script src="{{ url_for('static', filename='/js/common.js') }}"></script>
{% endblock %}

{% from "structural/macros.html" import manage_datatable %}

{% block content %}
<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi bi-search me-2"></i>{{ self.title() }}</h2>
  
  <form class="d-flex flex-row" method="POST" action="{{ url_for('user.search') }}">
    {{ form.csrf_token }}
    
    <div class="p-2 flex-grow-1">
      <label for="{{ form.username.id }}" class="form-label">{{ form.username.label.text }}</label>
      <div class="input-group input-group-{% if users %}sm{% else %}lg{% endif %}">
        <span class="input-group-text"><i class="bi-search"></i></span>
        {{ form.username }}
      </div>
    </div>
    
    <div class="p-2 align-self-end">
      <button type="submit" class="btn btn-primary btn-{% if users %}sm{% else %}lg{% endif %}">Search</button>
    </div>
  </form>
</div>

{% if request.method == 'POST' %}
<div class="container px-4 py-3">
  <h2 class="pb-3 border-bottom"><i class="bi bi-search me-2"></i> Search results</h2>  

  {% if users %}
  <table id="user-list" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Organization</th>
        <th scope="col">Status</th>
        <th scope="col" class="non-sortable">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for u in users %}
      <tr class="align-middle">
        <td>{{ u.fullname() }}</td>
        <td>{{ u.username }}</td>
        <td>{% if u.organization %}{{ u.organization.shortname }}{% else %}-{% endif %}</td>
        <td>
        {% if u.in_disabled_group() %}
          The account is disabled<br>
        {% else %}
          {% if u.disable_on %}Autodisables on {{ u.disable_on }}{% else %}Account does not autodisable{% endif %}<br>
        {% endif %}
        
        {% if u.is_expired() %}
          The password has expired
        {% else %}
          {% if u.expires_on %}
            Password expires on {{ u.expires_on }}<br>Password is {% if not u.self_renew %}not {% endif %}self-renewable
          {% else %}
            Password does not expire
          {% endif %}
        {% endif %}
        </td>
        <td class="text-end">
          <div class="btn-group">
            {% if not u.is_admin %}
            <a class="btn btn-outline-secondary" href="{{ url_for('contact_person.associate_organizations', uid=u.id) }}" title="Contact person details">
              <i class="bi bi-person-badge text-{% if u.is_contact_person() %}success{% else %}danger{% endif %}"></i>
            </a>
            {% endif %}
            <a class="btn btn-outline-secondary" href="{{ url_for('user.details', uid=u.id) }}" title="User details">
              <i class="bi bi-info-square-fill"></i>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="fs-5">Selected filters did not produce any result.</p>
  {% endif %}
</div>
{% endif %}

{% if users %}
<script>
  $(document).ready(function() {
    // ~ setup a simple datatable
    $('#user-list').DataTable({
    "paging": true,
    "info": true,
    "ordering": true,
    columnDefs: [{
      orderable: false,
      targets: "non-sortable"
    }]
  });
  });
</script>
{% endif %}

{% endblock %}
